{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body><div style="z-index:999; font-size:2rem; font-weight: normal; color:#fff; opacity:1; padding: 3px;" class="container-Videos">
    <h1 style="color:white;">Clips from Pmurphic's Youtube</h1>
  
    <div style="color:blue;margin-bottom:30px" class="btn-group" role="group" aria-label="Basic example">
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/SgwNJBJoJuE" data-target="#myModal">
    BFA Arena: How I can Improve (Assassination Rogue)
</button>
  
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/Rk56hdVUOYA" data-target="#myModal">
    Pmurphinc Archive Footage
</button>
  
  
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/Evh4ETT7vpg" data-target="#myModal">
    Blackout - My First Solo Win!
</button>
  
  
     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/kxd5g8JC6Ic" data-target="#myModal">
    Wife Plays Her First PC Game! - Little Nightmares
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div style="      max-width: 800px;
  margin: 30px auto;
  padding:3px;" class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      
      <div style=" position:relative; " class="modal-body-video">

       <button style="
        position:absolute;
        right:-30px;
        top:0;
        z-index:999;
        font-size:2rem;
        font-weight: normal;
        color:#fff;
        opacity:1; " type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always">></iframe>
</div>
        
        
      </div>

    </div>
  </div>
</div> 
  
  
  
</div>



</body>
<script type="text/javascript">
$(document).ready(function() {

// Gets the video src from the data-src on each button

var $videoSrc;  
$('.video-btn').click(function() {
    $videoSrc = $(this).data( "src" );
});
console.log($videoSrc);

  
  
// when the modal is opened autoplay it  
$('#myModal').on('shown.bs.modal', function (e) {
    
// set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
$("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
})
  
  
// stop playing the youtube video when I close the modal
$('#myModal').on('hide.bs.modal', function (e) {
    // a poor man's stop video
    $("#video").attr('src',$videoSrc); 
}) 
    
    


  
  
// document ready  
});



</script>
<iframe src="http://youtube.com/embed/RH1zx32HY7Y?autoplay=1&border=1" width="560" height="315" frameborder="0" allowfullscreen=""></iframe>
{% endblock content %}